@import "../styles/_shared.scss";

.work {
  padding: 30px 10px;
}
.link {
  color: white;
  text-decoration: none;
  padding: 30px;
}
.workList {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}
